@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');

/* General Styling */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

.heading {
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-size: 2.5rem;
}

/* images */

#hero-image {
    height: 300px;
    width: 100%;
    background: url('../images/RPS.jpg') no-repeat center;
}


/* buttons */
.game-start {
    margin-top: 40px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 50px;
    color: #ffffff;
    padding: 15px 32px 15px 32px;
}

.game-start:active,
.game-start:hover {
    background-color: #0d1013;
}
