@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');

/* General Styling */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

.heading {
    text-align: center;
    font-family: "Righteous", sans-serif;
    font-size: 2.5rem;
}

#game-stats {
    font-weight: bold;
}

/* images */

#hero-image {
    height: 300px;
    width: 45%;
}


/* buttons */
.game-start {
    margin-top: 40px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 50px;
    color: #ffffff;
    padding: 15px 32px 15px 32px;
}

.game-start:active,
.game-start:hover {
    background-color: #0d1013;
}

.btn {
    width: 220px;
    height:30px;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color:#ffffff;
}

.btn:focus {
    outline: none;
}

.big-btn {
    padding-top: 1px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 80px;
    height: 80px;
    font-size: 3.2rem;
    margin: 0 30px;
    transition: all 0.5s;

}

.big-btn::after {
    content:attr(data-type);
    font-size: 1rem;
    color:#445361;
    position: relative;
    left: -0.5em;
}

.rock {
    border-color: red;
    color: red;
}

.rock:active,
.rock:hover {
    background-color: darkred;
    color: white;
}

.paper {
    border-color: orange;
    color: orange;
}

.paper:active,
.paper:hover {
    background-color:darkorange;
    color: white;
}

.scissor {
    border-color: green;
    color: green;
}

.scissor:active,
.scissor:hover {
    background-color: #006400;
    color: white;
}

.main-menu {
    margin-top: 40px;
    background-color: #445361;
    float: left;
    border: 1px transparent;
    border-radius: 25px;
    color: #ffffff;
    padding: 15px 32px 15px 32px;
}

.main-menu:active,
.main-menu:hover {
    background-color: #0d1013;
}
.restart {
    margin-top: 40px;
    background-color: #445361;
    float: right;
    border: 1px transparent;
    border-radius: 25px;
    color: #ffffff;
    padding: 15px 32px 15px 32px;
}

.restart:active,
.restart:hover {
    background-color: #0d1013;
}
/* game area */

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

#game-stats {
    height: 75%;
}

.player {
    border: 4px solid green;
    float: left;
    width: 45%;
}

#player-image {
    width: 75%;
}

.score1 {
    color:#008000;
    font-weight: bold;
}

.computer {
    border: 4px solid red;
    float: right;
    width: 45%;
}

#computer-image {
    width: 75%;
}

.score2 {
    color: #ff0000;
    font-weight: bold;
}

.game-finish {
    margin: 15rem auto;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.15rem;
}

/* footer */

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color:#ffffff;
    background-color: #000;
}

